*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/*Etiquetas header*/
header {
    background-color: #EAC926;
    font-size: 12px;
    padding: 8px;
}

header nav {
    display: none;
}

header h2 {
    font-size: 12px;
    margin: auto;
    font-weight: normal;
}

header ul {
    list-style: none;
    min-width: 295px;
    margin: 2px 0;
}

header a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

/*Etiquetas main*/
main {
    width: 90%;
    margin: auto;
}

main article {
    padding: 10px;
}

main h3 {
    font-size: 24px;
    color: #666;
}

main h4 {
    margin: 5px;
    width: 100%;
}

main form {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

main label {
    margin: 5px;
}

main input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px auto;
    width: 100%;
}

/*Etiquetas footer*/
footer {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    background-color: white;
}

footer h6 {
    text-align: start;
    margin: 8px;
    padding: 8px;
    border-top: solid 1px #ebebeb;
    color: #666;
    width: 100%;
}

/*Clases en main*/
.tarjeta {
    width: 224px;
    height: 280px;
    margin: 5px auto;
    background-color: white;
}

.imagenTarjeta {
    width: 224px;
    height: 224px;
}

.tarjeta-texto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    color: #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    position: relative;
    left: 150px;
    top: -30px;
    transition: transform 1s;
}

.valor-producto {
    display: flex;
    position: relative;
    top: -30px;
}

.precio {
    font-size: 18px;
    margin-right: 20px;
    width: 30%;
}

.descuento {
    color: #39b54a;
    font-size: 16px;
    width: 70%;
}

.producto {
    color: #666;
    font-size: 16px;
    margin: 10px 0px;
    position: relative;
    top: -30px;
    display: none;
}

.radio {
    display: flex;
    width: 35%; 
}

.contenedorCheckbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.partesForm {
    margin: 20px 50px;
    height: 45px;
}

.botonForm {
    background-color: #03264C;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.botonForm a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/*Clases en footer*/
.img-footer {
    width: 2em;
    margin: 10px 0;
    color: #1259c3;
}

.img-footer:hover {
    color:  #03264C;
}

/*ID en header*/
#navbar-top {
    display: flex;
    flex-wrap: wrap;
}

#logo {
    width: 50%;
    padding: 5px;
}

#busqueda {
    width: 50%;
    padding: 5px;
    display: flex;
}

#busqueda-texto {
    width: 90%;
    border: none;
    color: #666;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

#busqueda-boton {
    width: 10%;
    border: white;
    color: #666;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

#burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 45px;
    padding: 15px 0px;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto;
}

#navbar-bottom {
    display: none;
    margin: 15px;
}

#lista-izquierda {
    width: 50%;
    display: flex;
}

#lista-derecha {
    width: 50%;
    display: flex;
    justify-content: end;
}

/*ID en section*/
#banner {
    width: 100%;
}

/*Media query para Tablet*/
@media (min-width: 361px) {
    header nav {
        display: block;
    }
    
    header h2 {
        width: 20%;
    }

    main article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #navbar-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #logo {
        align-self: center;
        width: 40%;
    }

    #busqueda {
        align-self: center;
        width: 40%;
    }

    #navbar-bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #lista-derecha {
        align-self: flex-end;
    }

    #burger-menu {
        display: none;
    }
}

/*Media query para Desktop*/
@media (min-width: 769px) {
    header nav {
        display: block;
    }

    main article {
        display: flex;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer section {
        width: 33%;
    }

    .tarjeta {
        height: 320px;
    }

    .tarjeta:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .tarjeta:hover .producto{
        display: block;
    }

    .botonForm:hover {
        background-color: #0022AA;
    }

    #navbar-top {
        display: flex;
        flex-wrap: wrap;
    }

    #logo {
        align-self: center;
        width: 200px;
        height: 80px;
    }

    #busqueda {
        align-self: center;
        width: 30%;
    }

    #navbar-bottom {
        display: flex;
        flex-direction: row;
    }
    
    #burger-menu {
        display: none;
    }
}